NAVIDROME_IMAGE=deluan/navidrome:latest
NAVIDROME_PORT=4533

# Should match ownership of music files on Linux hosts (see Navidrome Docker docs).
NAVIDROME_PUID=1000
NAVIDROME_PGID=1000

NAVIDROME_DATA_DIR=./data
NAVIDROME_MUSIC_DIR=./music

# ND_LOGLEVEL=info
