# Timezone
TZ=America/New_York

# LinuxServer image; pin the tag when you are happy with a release
KAVITA_IMAGE=lscr.io/linuxserver/kavita:latest

# Host user/group for files LinuxServer containers write (Linux hosts)
PUID=1000
PGID=1000

# Web UI
KAVITA_PORT=5000

KAVITA_CONFIG_DIR=./config
KAVITA_DATA_DIR=./data
